In [1]:
print('ritu')

ritu

In [5]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [6]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [7]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X = df.drop('price',axis = 1)
y = df['price']
print(X.shape)
print(y.shape)

(7120, 107)
(7120,)

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 2)

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5696, 107)
(1424, 107)
(5696,)
(1424,)

In [13]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [14]:
poly = PolynomialFeatures(degree = 2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [15]:
print(X_train_poly.shape)
print(X_test_poly.shape)

(5696, 5886)
(1424, 5886)

In [19]:
lr = LinearRegression()
lr.fit(X_train_poly,y_train)
predict = lr.predict(X_test_poly)
print('R2 score',r2_score(y_test,predict))

R2 score 0.9998126036540698

In [37]:
# lr.predict(X_test_poly[0].reshape(1,5886))
lr.predict([X_test_poly[0,:]])

array([72.])

In [42]:
predict

array([72., 34., 85., ..., 28., 32., 35.])

In [43]:
y_test

4423     72.0
6520     34.0
6173     85.0
3485    155.0
4034     18.0
        ...
2538     96.0
5514     54.0
4390     28.0
1490     32.0
250      35.0
Name: price, Length: 1424, dtype: float64